<?xml version='1.0' encoding='utf-8'?>
<plugin id="greet-plug-in" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>greet</name>
    <engines>
        <engine name="cordova" version=">=3.4.0"/>
        </engines>
    <js-module name="greet" src="www/greet.js">
        <clobbers target="plugins.greet" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Greet">
                <param name="android-package" value="plugins.hello.world.Greet"/>
            </feature>
        </config-file>
        <source-file src="src/android/plugins/hello/world/Greet.java" target-dir="src/plugins/hello/world/"/>
    </platform>


    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="Greet">
                <param name="ios-package" value="Greet" />
            </feature>
        </config-file>

        <header-file src="src/ios/Greet.h" />
        <source-file src="src/ios/Greet.m" />

    </platform>

    <platform name="browser">

        <config-file target="config.xml" parent="/*">
            <feature name="Greet">
                <param name="browser-package" value="Greet"/>
            </feature>
        </config-file>

        <js-module src="src/browser/greet.js" name="Greet">
            <runs/>
        </js-module>

    </platform>
</plugin>
